<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="Jhu.SpecSvc.Web">
      <section name="ImageCutOuts" type="System.Configuration.AppSettingsSection"/>
    </sectionGroup>
  </configSections>

  <system.web>
    <globalization culture="en-us" />
    <compilation debug="true" targetFramework="4.0" />
    <pages styleSheetTheme="Basic">
      <controls>
        <add tagPrefix="jgwc" namespace="Jhu.Graywulf.Web.Controls" assembly="Jhu.Graywulf.Web" />
        <add tagPrefix="jsw" namespace="Jhu.SpecSvc.Web.Controls" assembly="Jhu.SpecSvc.Web" />
        <add tagPrefix="jsw" src="~/Controls/Menu.ascx" tagName="Menu"/>
        <add tagPrefix="jsw" src="~/Controls/Footer.ascx" tagName="Footer"/>
        <add tagPrefix="jsw" src="~/Controls/CollectionList.ascx" tagName="CollectionList"/>
      </controls>
    </pages>
  </system.web>

  <Jhu.SpecSvc.Web>
    <ImageCutOuts>
      <add key="SDSSDR10" value="http://skyservice.pha.jhu.edu/DR10/ImgCutout/getjpeg.aspx?ra=[$Ra]&amp;dec=[$Dec]&amp;scale=0.2&amp;width=[$Width]&amp;height=[$Height]&amp;opt=G" />
    </ImageCutOuts>
  </Jhu.SpecSvc.Web>
</configuration>
