<configuration>
  <connectionStrings>
    <add name="Jhu.SpecSvc.MySpectrum" connectionString="Data Source=localhost;Initial Catalog=MySpectrum;MultipleActiveResultsets=true;Integrated Security=true"/>
  </connectionStrings>

  <Jhu.SpecSvc.MySpectrum>
    <Settings>
      <add key="DefaultPublisherID" value="ivo://myspectrum" />
    </Settings>
  </Jhu.SpecSvc.MySpectrum>
</configuration>