<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="Jhu.SpecSvc.MySpectrum">
      <section name="Settings" type="System.Configuration.AppSettingsSection"/>
    </sectionGroup>
  </configSections>

  <system.web>
    <globalization culture="en-us" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>

